/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.login-form-container {
  background-color: white;
  width: 320px;
  height: 440px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 3px;
}

.login-form-container h4 {
  padding-left: 15px;
  padding-right: 15px;
}

#demo-login-button {
  height: 30px;
  width: 200px;
  border-radius: 3px;
  margin: 0px 60px;
  font-size: 15px;
  color: white;
  background: #3897f0;
  border: none;
  cursor: pointer;
}

.login-form input, button {
  height: 30px;
  width: 200px;
  border-radius: 3px;
  margin: 5px;
  font-size: 15px;
}

.login-form button {
  color: white;
  background: #3897f0;
  border: none;
  cursor: pointer;
}

.homepage {
  display: flex;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dq60klc41/image/upload/c_scale,h_408,w_1900/v1509772922/rustic-wood-planks-background-picture-id480194940_ln3aw7.jpg");
  background-repeat: repeat-y;
  margin-top: -100px;
  padding-top: 130px;
  padding-bottom: 150px;
}

.homepage-logo {
  font-size: 45px;
  font-family: 'Lobster Two', cursive;
  margin: 0px;
}

.homepage-images {
  margin-right: 45px;
}

.switch-session-container {
  background-color: white;
  width: 320px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-top: 37px;
  margin-left: 10px;
}

.switch-session-container a {
  text-decoration: none;
  color: black;
}

.errors ul, #image-error {
  color: red;
  font-size: 12px;
  list-style: none;
  padding: 0px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  padding-right: 75px;
  padding-left: 75px;
  background-color: white;
  border: solid #e6e6e6 1px;
}

.nav-left {
  display: flex;
}

.nav-left img {
  margin-top: 23px;
  padding-right: 10px;
  border-right: 2px solid grey;
}

.logo-font {
  font-size: 30px;
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  color: black;
  vertical-align: center;
  margin-top: 19px;
  margin-left: 10px;
}

.nav-right {
  display: flex;
}

.nav-right a {
  margin-right: 20px;
  height: 75px;
  line-height: 75px;
}

.nav-right img {
  vertical-align: middle;
}


.sign-out-button {
  margin-left: 0px;
  cursor: pointer;
}

.blank-button {
  background: none;
  border: none;
  width: auto;
  padding: 0px;
  height: 75px;
  line-height: 75px;
  margin: 0px;
  outline: none;
}

#post-item-blank-button {
  margin-top: 0px;
  margin-bottom: 0px;
  background: none;
  border: none;
  width: auto;
  padding: 0px;
  height: 35px;
  line-height: 75px;
  margin: 0px;
  outline: none;
  cursor: pointer;
}

.index-item {
  /*text-align: center;*/
  list-style: none;
  margin-bottom: 80px;
}

.post-index-body {
  display: flex;
  justify-content: center;
}

.post-index-body img {
  height: 500px;
  width: 500px;
}

#img-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  border: solid #e6e6e6 1px;
}

.index-header {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.index-header-text {
  display: flex;
  flex-direction: column;
}

.index-bottom {
  margin: 2px 14px 14px 14px;
  display: flex;
  flex-direction: column;
}

.index-bottom-text {
  display: flex;
  flex-direction: column;
}

.index-bottom-username-section {
  display: flex;
  margin-top: 4px;
}

.index-username {
  margin-bottom: 3px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.post-caption {
  font-size: 15px;
}

.new-post-form-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-post-form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid #e6e6e6 1px;
  border-radius: 5px;
  height: 550px;
  width: 700px;
}

#upload-button, #form-submit-button {
  color: white;
  background: #3897f0;
  height: 30px;
  width: 200px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-submit-button:disabled {
  background: grey;
}

.form-left {
  border-right: solid #e6e6e6 1px;
  width: 220px;
}

.form-left h3 {
  text-align: center;
  border-left: solid black 1px;
  height: 25px;
  margin-top: 2px;
  padding: 15px;
}

.form-right {
  width: 480px;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.form-right h3 {
  font-weight: lighter;
}

#form-location {
  border: solid #e6e6e6 1px;
  height: 25px;
  width: 300px;
}

#form-description {
  height: 60px;
  width: 300px;
  border: solid #e6e6e6 1px;
  margin-bottom: 10px;
}

.image-box {
  height: 200px;
  width: 300px;
  border: solid #e6e6e6 1px;
}

.image-box img {
  object-fit: contain;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: center;
  height: 200px;
}

#profile-pic-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.profile-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

#profile-username {
  font-size: 30px;
  font-weight: lighter;
}

.profile-header-right-a {
  display: flex;
}

.profile-header-right-b {
  display: flex;
  justify-content: space-between;
  width: 320px;
  font-size: 20px;
  font-weight: lighter;
}

.profile-header-right-c {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: lighter;
}

#profile-full-name {
  font-weight: bolder;
  margin-right: 8px;
}

.profile-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.profile-item {
  height: 280px;
  width: 280px;
  margin: 15px;
  object-fit: contain;
  background-color: white;
}

.post-show .item {
  margin: 0 auto 20px auto;
}

.post-show img {
  height: 500px;
}

.fa.fa-heart, .fa.fa-heart-o {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.fa.fa-heart {
  color: red;
}

.feed-photo-link {
  display: flex;
  justify-content: center;
}

.feed-photo {
  object-fit: contain;
  width: 100%;
}

.post-comments-list {
  padding-left: 0px;
  border-bottom: solid #e6e6e6 1px;
  padding-bottom: 3px;
}

.post-comments {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-bottom: 2px;
}

.comment-delete-button {
  font-size: 20px;
  font-weight: lighter;
  color: grey;
}

.comment-delete-button:hover {
  color: black;
}

.comment-body {
  word-break: break-all;
}

.comment-username-body {
  font-size: 15px;
  display: flex;
}

.comment-username {
  font-weight: bolder;
  margin-right: 3px;
}

.comment-input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 467px;
  height: 20px;
  font-size: 15px;
  border: none;
  outline: none;
}
