/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.login-form-container {
  background-color: white;
  width: 320px;
  height: 470px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.login-form input, button {
  height: 30px;
  width: 200px;
  border-radius: 3px;
  margin: 5px;
  font-size: 15px;
}

.login-form button {
  color: white;
  background: #3897f0;
  border: none;
}

.homepage {
  display: flex;
  justify-content: center;
}

.homepage-logo {
  font-size: 45px;
  font-family: 'Lobster Two', cursive;
}

.homepage-images {
  margin-right: 10px;
}

.switch-session-container {
  background-color: white;
  width: 320px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.switch-session-container a {
  text-decoration: none;
  color: black;
}

.errors ul {
  color: red;
  font-size: 12px;
  list-style: none;
  padding: 0px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  padding-right: 75px;
  padding-left: 75px;
  background-color: white;
}

.nav-left {
  display: flex;
}

.nav-left img {
  margin: 15px;
  padding-right: 15px;
  border-right: 2px solid grey;
}

.logo-font {
  font-size: 30px;
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  color: black;
  vertical-align: center;
  margin-top: 19px;
}

.nav-right {
  display: flex;
}

.nav-right a {
  margin-right: 20px;
  height: 75px;
  line-height: 75px;
}

.nav-right img {
  vertical-align: middle;
}


.sign-out-button {
  margin-left: 0px;
}

.blank-button {
  background: none;
  border: none;
  width: auto;
  padding: 0px;
  height: 75px;
  line-height: 75px;
  margin: 0px;
}

.index-item {
  /*text-align: center;*/
  list-style: none;
}

.post-index-body {
  display: flex;
  justify-content: center;
}

.post-index-body img {
  height: 500px;
  width: 500px;
}

#img-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 80px;
}

.index-header {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.index-header-text {
  display: flex;
  flex-direction: column;
}

.index-bottom {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.index-bottom-text {
  display: flex;
}

.index-username {
  margin-bottom: 3px;
  margin-right: 3px;
  font-weight: bold;
}


.new-post-form-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-post-form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: solid #e6e6e6 1px;
  border-radius: 5px;
  height: 550px;
  width: 700px;
}

#upload-button, #form-submit-button {
  color: white;
  background: #3897f0;
  height: 30px;
  width: 200px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 17px;
}

.form-left {
  border-right: solid #e6e6e6 1px;
  width: 220px;
}

.form-left h3 {
  text-align: center;
  border-left: solid black 1px;
  height: 25px;
  margin-top: 2px;
  padding: 15px;
}

.form-right {
  width: 480px;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

#form-location {
  border: solid #e6e6e6 1px;
  height: 25px;
  width: 300px;
}

#form-description {
  height: 60px;
  width: 300px;
  border: solid #e6e6e6 1px;
  margin-bottom: 10px;
}

.image-box {
  height: 200px;
  width: 300px;
  border: solid #e6e6e6 1px;
}
